        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            scroll-behavior: smooth;
        }
        
        body {
            scroll-behavior: smooth;
        }
        
        .spinner-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-image: url("images/load.webp");
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1s;
            z-index: 400;
        }
        
        .display .spinner-container {
            visibility: hidden;
        }
        
        .circles {
            width: 8rem;
            height: 8rem;
            position: relative;
            opacity: 0;
            visibility: hidden;
            animation: displayCircles 4s;
        }
        
        @keyframes displayCircles {
            0% {
                opacity: 0.8;
                visibility: hidden;
            }
            25% {
                opacity: 1;
                visibility: visible;
            }
            90% {
                opacity: 1;
                visibility: visible;
            }
            100% {
                opacity: 0;
                visibility: hidden;
            }
        }
        
        .circles div {
            animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 4rem 4rem;
        }
        
        .circles div::after {
            content: "";
            position: absolute;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: #c29525;
            margin: -0.4rem 0 0 -0.4rem;
        }
        
        .circles div:nth-child(1) {
            animation-delay: -0.036s;
        }
        
        .circles div:nth-child(1)::after {
            top: 6.3rem;
            left: 6.3rem;
        }
        
        .circles div:nth-child(2) {
            animation-delay: -0.072s;
        }
        
        .circles div:nth-child(2)::after {
            top: 6.8rem;
            left: 5.6rem;
        }
        
        .circles div:nth-child(3) {
            animation-delay: -0.108s;
        }
        
        .circles div:nth-child(3)::after {
            top: 7.1rem;
            left: 4.8rem;
        }
        
        .circles div:nth-child(4) {
            animation-delay: -0.144s;
        }
        
        .circles div:nth-child(4)::after {
            top: 7.2rem;
            left: 4rem;
        }
        
        .circles div:nth-child(5) {
            animation-delay: -0.18s;
        }
        
        .circles div:nth-child(5)::after {
            top: 7.1rem;
            left: 3.2rem;
        }
        
        .circles div:nth-child(6) {
            animation-delay: -0.216s;
        }
        
        .circles div:nth-child(6)::after {
            top: 6.8rem;
            left: 2.4rem;
        }
        
        .circles div:nth-child(7) {
            animation-delay: -0.252s;
        }
        
        .circles div:nth-child(7)::after {
            top: 6.3rem;
            left: 1.7rem;
        }
        
        .circles div:nth-child(8) {
            animation-delay: -0.288s;
        }
        
        .circles div:nth-child(8)::after {
            top: 5.6rem;
            left: 1.2rem;
        }
        
        @keyframes circles {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        .container5 {
            display: none;
        }
        
        .display .container5 {
            display: block;
        }
        
        .by {
            color: #111;
            opacity: 0.9;
            font-family: 'Goldman', cursive;
        }
        
        section {
            padding: 100px 0;
        }
        
        .max-width {
            max-width: 1300px;
            padding: 0 80px;
            margin: auto;
        }
        
        .about,
        .footer {
            font-family: 'Poppins', sans-serif;
        }
        
        .about .about-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        
        section .title {
            position: relative;
            text-align: center;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 60px;
            padding-bottom: 20px;
            font-family: 'Ubuntu', sans-serif;
        }
        
        section .title::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 180px;
            height: 3px;
            background: #111;
            transform: translateX(-50%);
        }
        
        section .title::after {
            position: absolute;
            bottom: -8px;
            left: 50%;
            font-size: 20px;
            color: crimson;
            padding: 0 5px;
            background: #fff;
            transform: translateX(-50%);
        }
        
        .scroll-up-btn {
            position: fixed;
            height: 45px;
            width: 42px;
            background: crimson;
            right: 30px;
            bottom: 5px;
            text-align: center;
            line-height: 45px;
            color: #fff;
            z-index: 9999;
            font-size: 30px;
            border-radius: 6px;
            border-bottom-width: 2px;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
            transition: all 1s ease;
        }
        
        .scroll-up-btn.show {
            bottom: 30px;
            opacity: 1;
            pointer-events: auto;
        }
        
        .scroll-up-btn:hover {
            filter: brightness(90%);
        }
        /* home section styling */
        
        .home {
            display: flex;
            background: url("images/7.jpg") no-repeat center;
            height: 100vh;
            color: #fff;
            min-height: 500px;
            background-size: 100% 100%;
            background-attachment: fixed;
            font-family: 'Ubuntu', sans-serif;
        }
        
        .sss {
            animation: scale 50s;
        }
        
        .nav {
            margin: 0px;
        }
        
        .navbar {
            background: transparent !important;
            background-color: #12b1a9 !important;
            border-color: transparent !important;
            margin-bottom: 0px;
            font-family: 'Droid Serif', serif;
            font-size: 17px !important;
        }
        
        .navbar-brand {
            font-size: 30px !important;
            font-family: 'Droid Serif', serif !important;
            margin-left: 2rem !important;
            color: white !important;
        }
        
        .navbar-brand:hover {
            color: coral !important;
        }
        
        #myNavbar {
            margin-right: 6rem;
        }
        
        nav ul li a {
            color: whitesmoke !important;
            margin-left: 1rem;
        }
        
        nav ul li a:hover {
            color: crimson !important;
        }
        
        @media (max-width: 769px) {
            nav ul li a {
                margin-left: 50%;
            }
        }
        
        @keyframes scale {
            0% {
                transform: scale(1);
            }
            10% {
                transform: scale(0.8);
            }
            20% {
                transform: scale(1);
            }
            30% {
                transform: scale(0.8);
            }
            40% {
                transform: scale(1);
            }
            50% {
                transform: scale(0.8);
            }
            60% {
                transform: scale(1);
            }
            70% {
                transform: scale(0.8);
            }
            80% {
                transform: scale(1);
            }
            90% {
                transform: scale(0.8);
            }
            100% {
                transform: scale(1);
            }
        }
        
        .home .max-width {
            margin: auto 0 auto 30px;
        }
        
        .home-content {
            margin-top: 260px;
        }
        
        .home .home-content .text-1:hover {
            color: crimson;
        }
        
        .home .home-content .text-1 {
            font-size: 48px;
            cursor: default;
        }
        
        .home .home-content .text-3 {
            font-size: 40px;
            margin: 10px 0;
        }
        
        .home .home-content .text-3:hover {
            cursor: default;
        }
        
        .home .home-content .text-3 span {
            color: crimson;
            font-weight: 800;
        }
        
        .home .home-content a {
            display: inline-block;
            background: crimson;
            color: #fff;
            font-size: 25px;
            padding: 12px 36px;
            margin-top: 20px;
            font-weight: 400;
            border-radius: 6px;
            border: 2px solid crimson;
            transition: all 0.3s ease;
        }
        
        .home .home-content a:hover {
            color: crimson;
            background: none;
        }
        
        .about .title::after {
            content: "PUB & Bar..";
            color: crimson;
        }
        
        .about .about-content .left {
            width: 45%;
        }
        
        .about .about-content .left img {
            height: 400px;
            width: 400px;
            object-fit: cover;
            border-radius: 6px;
        }
        
        .about .about-content .right {
            width: 55%;
        }
        
        .about .about-content .right .text {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        
        .about .about-content .right .text span {
            color: crimson;
        }
        
        .about .about-content .right p {
            text-align: justify;
        }
        
        .about .about-content .right a {
            display: inline-block;
            background: crimson;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 30px;
            margin-top: 20px;
            border-radius: 6px;
            border: 2px solid crimson;
            transition: all 0.3s ease;
        }
        
        .about .about-content .right a:hover {
            color: crimson;
            background: none;
        }
        
        footer {
            background: #111;
            padding: 15px 23px;
            color: #fff;
            text-align: center;
        }
        
        footer span a {
            color: crimson;
            text-decoration: none;
        }
        
        footer span a:hover {
            text-decoration: underline;
        }
        /* responsive media query start */
        
        @media (max-width: 1300px) {
            .home .max-width {
                margin-left: 0px;
            }
        }
        
        @media (max-width: 1104px) {
            .about .about-content .left img {
                height: 350px;
                width: 350px;
            }
        }
        
        @media (max-width: 1010px) {
            .text-4xl {
                text-align: center;
            }
        }
        
        @media (max-width: 991px) {
            .max-width {
                padding: 0 50px;
            }
        }
        
        @media (max-width: 960px) {
            .menu-btn {
                display: block;
                z-index: 999;
            }
            .menu-btn i.active:before {
                content: "\f00d";
            }
            .navbar .menu {
                position: fixed;
                height: 100vh;
                width: 100vw;
                left: -100%;
                top: 0;
                background: #111;
                text-align: center;
                padding-top: 80px;
                transition: all 0.3s ease;
            }
            .navbar .menu.active {
                left: 0;
            }
            .navbar .menu li {
                display: block;
            }
            .navbar .menu li a {
                display: inline-block;
                margin: 20px 0;
                font-size: 25px;
            }
            .home .home-content .text-2 {
                font-size: 50px;
            }
            .home .home-content .text-3 {
                font-size: 45px;
            }
            .home .home-content a {
                font-size: 23px;
                padding: 10px 30px;
            }
            .max-width {
                max-width: 930px;
            }
            .about .about-content .column {
                width: 100%;
            }
            .about .about-content .left {
                display: flex;
                justify-content: center;
                margin: 0 auto 60px;
            }
            .about .about-content .right {
                flex: 100%;
            }
        }
        
        @media (max-width: 690px) {
            .max-width {
                padding: 0 23px;
            }
            .home .home-content .text-3 {
                font-size: 32px;
            }
            .home .home-content a {
                font-size: 20px;
            }
        }
        
        @media (max-width: 500px) {
            .home .home-content .text-2 {
                font-size: 40px;
            }
            .home .home-content .text-3 {
                font-size: 20px;
            }
            .about .about-content .right .text {
                font-size: 19px;
            }
            .scroll-up-btn {
                right: 15px;
                bottom: 15px;
                height: 38px;
                width: 35px;
                font-size: 23px;
                line-height: 38px;
            }
        }