  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  * {
      margin: 0;
      padding: 0;
      outline: none;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
      font-family: "Jost", sans-serif;
      font-weight: 400;
      text-decoration: none;
      text-underline-offset: none;
      cursor: default;
  }
  
  html {
      font-size: 62.5%;
      scroll-behavior: smooth;
  }
  
  body {
      min-height: 100vh;
      background-color: coral !important;
  }
  
  .spinner-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #262626;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;
      z-index: 300;
  }
  
  .display .spinner-container {
      opacity: 0;
      visibility: hidden;
  }
  
  .circles {
      width: 8rem;
      height: 8rem;
      position: relative;
      opacity: 0;
      visibility: hidden;
      animation: displayCircles 4s;
  }
  
  @keyframes displayCircles {
      0% {
          opacity: 0;
          visibility: hidden;
      }
      25% {
          opacity: 1;
          visibility: visible;
      }
      90% {
          opacity: 1;
          visibility: visible;
      }
      100% {
          opacity: 0;
          visibility: hidden;
      }
  }
  
  .circles div {
      animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 4rem 4rem;
  }
  
  .circles div::after {
      content: "";
      position: absolute;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background-color: #c29525;
      margin: -0.4rem 0 0 -0.4rem;
  }
  
  .circles div:nth-child(1) {
      animation-delay: -0.036s;
  }
  
  .circles div:nth-child(1)::after {
      top: 6.3rem;
      left: 6.3rem;
  }
  
  .circles div:nth-child(2) {
      animation-delay: -0.072s;
  }
  
  .circles div:nth-child(2)::after {
      top: 6.8rem;
      left: 5.6rem;
  }
  
  .circles div:nth-child(3) {
      animation-delay: -0.108s;
  }
  
  .circles div:nth-child(3)::after {
      top: 7.1rem;
      left: 4.8rem;
  }
  
  .circles div:nth-child(4) {
      animation-delay: -0.144s;
  }
  
  .circles div:nth-child(4)::after {
      top: 7.2rem;
      left: 4rem;
  }
  
  .circles div:nth-child(5) {
      animation-delay: -0.18s;
  }
  
  .circles div:nth-child(5)::after {
      top: 7.1rem;
      left: 3.2rem;
  }
  
  .circles div:nth-child(6) {
      animation-delay: -0.216s;
  }
  
  .circles div:nth-child(6)::after {
      top: 6.8rem;
      left: 2.4rem;
  }
  
  .circles div:nth-child(7) {
      animation-delay: -0.252s;
  }
  
  .circles div:nth-child(7)::after {
      top: 6.3rem;
      left: 1.7rem;
  }
  
  .circles div:nth-child(8) {
      animation-delay: -0.288s;
  }
  
  .circles div:nth-child(8)::after {
      top: 5.6rem;
      left: 1.2rem;
  }
  
  @keyframes circles {
      0% {
          transform: rotate(0);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  
  .container5 {
      display: none;
  }
  
  .display .container5 {
      display: block;
  }
  
  .wrapper1 {
      width: 100%;
      height: 100vh;
      overflow: hidden;
  }
  
  .wrapper1 .wrapper__video {
      background-size: 100% 100%;
      width: 67%;
      height: 60vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25rem;
      display: block;
      box-shadow: 0.5rem 0.8rem 1rem blue;
  }
  
  .about-us {
      width: 100%;
      background-color: coral;
  }
  
  .section-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0 1rem 0;
  }
  
  .section-heading {
      font-family: "Muli", serif;
      font-size: 5rem;
      font-weight: 300;
      color: #4b4b4b;
      margin-bottom: rem;
  }
  
  .underline {
      width: 20%;
      align-items: center;
      height: 0.3rem;
      background-color: #c29525;
  }
  
  .about-section {
      background-size: 55%;
      background-color: coral;
      overflow: hidden;
      padding: 100px 0;
  }
  
  .inner-container {
      width: 55%;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      box-shadow: 1rem 0.8rem 0.5rem red;
      padding: 150px;
  }
  
  .inner-container h1 {
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 900;
  }
  
  .text {
      font-size: 13px;
      color: #545454;
      line-height: 30px;
      text-align: justify;
      margin-bottom: 40px;
  }
  
  .header {
      width: 100%;
      height: 100vh;
      position: relative;
      perspective: 100rem;
      overflow: hidden;
  }
  
  .img-wrapper {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: hidden;
  }
  
  .img-wrapper img {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      opacity: 0.5;
      animation: scale 25s;
  }
  
  @keyframes scale {
      0% {
          transform: scale(1.3);
      }
      100% {
          transform: scale(1);
      }
  }
  
  .img-wrapper {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: hidden;
  }
  
  .img-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      animation: scale 25s;
  }
  
  @keyframes scale {
      0% {
          transform: scale(1.3);
      }
      100% {
          transform: scale(1);
      }
  }
  
  .banner {
      position: absolute;
      top: 30%;
      left: 15%;
  }
  
  .banner h1 {
      font-family: "Baloo Da 2", serif;
      font-size: 8rem;
      font-weight: 200;
      color: white;
      width: 50%;
      line-height: 9rem;
      letter-spacing: 0.2rem;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
      opacity: 0;
      animation: moveBanner 1s 0.3s forwards;
  }
  
  .banner h1:hover {
      cursor: default;
      color: white;
  }
  
  .banner p:hover {
      cursor: default;
  }
  
  .banner p {
      font-family: "Josefin Slab", serif;
      font-size: 4rem;
      color: #fff;
      width: 70%;
      letter-spacing: 0.1rem;
      margin-bottom: 3rem;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
      opacity: 0;
      animation: moveBanner 1s 0.7s forwards;
  }
  
  @keyframes moveBanner {
      0% {
          transform: translateY(40rem) rotateY(-20deg);
          opacity: 0.5;
      }
      100% {
          transform: translateY(0) rotateY(0);
          opacity: 1;
      }
  }
  
  .center {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .section-heading {
      font-size: 5rem;
      color: #333;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin-bottom: 3rem;
      border-bottom: 0.3rem solid #333;
      text-shadow: 0.2rem 0.2rem 0.5rem #555;
  }
  
  .section-3 {
      width: 100%;
      height: 100%;
      padding: 10rem 0;
      background-color: coral;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .projects-wrapper {
      width: 80%;
      flex-wrap: wrap;
  }
  
  .project {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      background-color: coral;
      box-shadow: 0.3rem 0.3rem 0.5rem #777;
      position: relative;
      overflow: hidden;
      transition: box-shadow 1s;
      box-shadow: 0.5rem 0.8rem 1rem rgb(243, 45, 177);
  }
  
  .project:hover {
      box-shadow: 1rem 1rem 1rem #777;
  }
  
  .project-text {
      text-align: center;
      letter-spacing: 0.1rem;
      position: absolute;
      top: -10rem;
      z-index: 10;
      transition: top 0.3s;
  }
  
  .project:hover .project-text {
      top: 5rem;
      transition: top 0.3s 0.3s;
  }
  
  .project-name {
      font-size: 3rem;
      font-weight: 700;
      color: white;
      font-weight: 700;
      text-transform: capitalize;
  }
  
  .project-technologies {
      font-size: 1.8rem;
      color: black;
  }
  
  .project-img {
      width: 40rem;
      height: 25rem !important;
      transition: opacity 0.8s;
  }
  
  .project:hover .project-img {
      filter: blur(23px);
      opacity: 0.7;
  }
  
  .wrapper {
      display: inline-flex;
      height: 30vh;
      width: 100%;
      margin-right: auto;
      place-items: center;
  }
  
  footer {
      background: #111;
      padding: 15px 23px;
      color: #fff;
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }
  
  footer span a {
      color: crimson;
      text-decoration: none;
  }
  
  footer span a:hover {
      text-decoration: underline;
  }
  
  @media (max-width: 600px) {
      .project-img {
          width: 100%;
      }
  }
  
  @media (max-width: 500px) {
      html {
          font-size: 55%;
      }
  }
  
  @media (max-width: 450px) {
      html {
          font-size: 45%;
      }
  }
  
  @media (max-width: 1400px) {
      .banner h1 {
          font-size: 6rem;
          line-height: 7rem;
      }
      .banner p {
          font-size: 3rem;
      }
  }
  
  @media (max-width: 1000px) {
      .banner h1 {
          font-size: 5rem;
          line-height: 6rem;
      }
      .banner p {
          font-size: 2.5rem;
      }
  }
  
  @media (max-width: 700px) {
      .banner h1 {
          font-size: 7rem;
          line-height: 8rem;
      }
      .banner p {
          font-size: 4rem;
      }
  }
  
  @media screen and (max-width:1200px) {
      .inner-container {
          padding: 80px;
      }
  }
  
  @media screen and (max-width:1000px) {
      .about-section {
          background-size: 100%;
          padding: 100px 40px;
      }
      .inner-container {
          width: 100%;
      }
  }
  
  @media screen and (max-width:600px) {
      .about-section {
          padding: 0;
      }
      .inner-container {
          padding: 60px;
      }
  }
  
  @media (max-width: 500px) {
      html {
          font-size: 45%;
      }
  }