{% extends 'base.html' %}

{% block title %}Booking & Registration{% endblock title %}


{% block body %}
<div class="container-fluid px-0 mb-3" >
<div class="container mb-3 py-4">
    <h1 class="text-center">Booking & Registration</h1>
    <form method="post" action="/booking">
    {% csrf_token %}
        <div class="form-group">
            <label for="name" style="font-size: 23px">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email" style="font-size: 23px">Email </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        
        <div class="form-group">
            <label for="phone" style="font-size: 23px">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>      
        
        <div class="form-group">
            <label for="desc"  style="font-size: 18px">Pleace give us information about your requirement & <mark><b>Time period for which you want to book the R.K PUB & Bar..!<b></mark></label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>

{% endblock body %}